* {
    margin: 0;
    padding: 0;
}

.banner-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.blink {
    animation: blink 1.6s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 2;
    }
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size:
        45px;
}

.card-section {
    margin-top: 2.6rem;
    text-align: center;
}

.ul {
    display: flex;
    flex-wrap: wrap;
}

span {
    font-size: 10px;
}

p,
h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px 10px black;
}

li {
    display: inline-flex;
    padding: 3.2rem;
    border-radius: 6px;
    color: white;
    margin: 10px;
}

.card {
    background-color: red;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellowgreen;
}

.voilate {
    background-color: violet;
}